* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

section {
    background-color: white;
    width: 80%;
    margin:5px auto;
}

.container {
    margin-left: 5%;
}

main {
    background-color: lightgray;
    padding-top: 5%;
}

.logo {
    height: 80px;
    padding-top: 15px;
    padding-left: 15px;
}

img {
    height: 50px;
    
}

h1 {
    display: inline-block;
    position:absolute;
    padding-top: 5px;
    
}
